<p> Hola, {{ name }} !</p>
<h1 [innerText]="name"></h1>


<!-- Ejemplo Two-way Data Binding (Controlador-> Vista -> Controlador) -->
<input [(ngModel)]='name' placeholder="Nombre de usuario" type='text'/>

<!-- Ejemplo manejo de eventos -->
<button (click)='pulsarBoton()'> Púlsame </button>

<app-animal></app-animal>